/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Importing components */
@import url("components/navbar.css");
@import url("components/banner.css");
@import url("components/area_atuacao.css");
@import url("components/footer.css");
@import url("components/valores.css");
@import url("components/button.css");
@import url("components/escritorio.css");


a {
    text-decoration: none;
}

body {
    font-family:'Nunito', sans-serif;
    margin: 0;
}
