.card-contato{
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.p-contato{
  color: #56460C;
}

.img-contact{
  border: 2px solid rgba(153, 153, 153, 0.589);
  border-radius: 5px;
  opacity : 0.9;
}

@media(max-width: 992px) {
  .card-contato{
    grid-template-columns: 1fr;
  }
}
  
@media(max-width: 768px) {
  .card-contato{
    grid-template-columns: 1fr;
  }
}