footer {
  background-color: #BFB38D;
  padding: 10px 0px;
	text-align: center;
	margin: 5px auto;
}

.item-footer {
  color:#575140;
  font-size: 30px;
  cursor: pointer;
}

.item-footer:hover {
  transform: scale(1.10);
}

h6 {
  color: #6d47069c;
  font-size: 9px;
  font-weight: lighter;
}
