footer {
    background-color: #BFB38D;
    padding: 10px 0px;
	text-align: center;
	margin: 5px auto;
}

footer .fas {
    color:#575140;
    font-size: 30px;
}

footer .fab {
    color:#575140;
    font-size: 30px;
}

footer .fas:hover {
    transform: scale(1.10);
}

footer .fab:hover {
    transform: scale(1.10);
}

h6 {
    color: #6d47069c;
    font-size: 9px;
    font-weight: lighter;
}
