.header_area {
  box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
}

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 3rem;
}

.header_area .main-menu .navbar {
    background-color:#BFB38D;
}

.dropdown-menu {
  background-color: #BFB38D;
}

.navbar-brand img {
    width: 150px;
    height: 80px;
}

.header_area .main-menu .nav-item .nav-link{
  padding: 1rem;
}


.header_area .main-menu .navbar-nav .nav-link {
  color: #61460D;
  font-weight: bold;
}

.dropdown-item {
  color: #61460D;
  font-weight: bold;
}

.header_area .main-menu .navbar-nav a:hover{
  background: linear-gradient(90deg, #202E77 0%, #030f47 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.collapse {
justify-content: space-between;
padding-right: 2rem;
}

